/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Chango', cursive;
    background-color: #5abcf1;
    margin: 0 300px;
   
}

header{
    text-align: center;
    margin: 20px 0;
    text-shadow: 1px 1px 2px gray;
}


header h1{
    font-size: 3em;
    text-transform: uppercase;
    color: white;
}

main{
    display: inline-block;
    /* margin: auto; */
}

footer{
    text-align: center;
    margin-bottom: 30px;
}

div.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


div.row{
    text-align: center;
}


div.border_radius{
    border-radius: 25px;
}

div.card{
    height: 280px;
    width: 220px;
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
    position: relative;

    
    /* text-align: center; */
    /* margin-right: calc(100% - ( 280 * 4 )); */
}

div.back_card{
    height: 100%;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain; 
    position: absolute;
    z-index: 1;
    
}

div.front_card{
    height: 100%;
    width: 100%;
    background-color: white;
    padding-top: 20px;
    
} 


div.front_card img{
    width: 100%;
}


div.row > div.card:last-child{
    margin-right: 0;
}

/* Hover effect */
div.card:hover .front_card{
    position: relative;
    z-index: 2;
    text-align: center;
}

div.card:hover span{
    position: relative;
    z-index: 2;
}


div.front_card > span.air_balloon{
    color: red;
    text-shadow: 1px 1px 2px gray;
}

div.front_card > span.bicycle{
    color: blue;
    text-shadow: 1px 1px 2px gray;
}

div.front_card > span.cruise_ship{
    color: green
    text-shadow: 1px 1px 2px gray;
}

div.front_card > span.submarine{
    color: pink;
    text-shadow: 1px 1px 2px gray;
}

div.front_card > span.tractor{
    color: brown;
    text-shadow: 1px 1px 2px gray;
}

div.front_card > span.tram{
    color: lightblue;
    text-shadow: 1px 1px 2px gray;
}


