/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Chango', cursive;
    background-color: #5abcf1;
}

header{
    margin: auto;
    text-align: center;
    margin: 20px 0;

}

header h1{
    font-size: 3em;
    text-transform: uppercase;
    display: inline-block;
    color: white;
}

div.back_card{
    height: 280px;
    width: 220px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

