/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Chango', cursive;
    background-color: #5abcf1;
    margin: 0 200px;
}

header{
    margin: auto;
    text-align: center;
    margin: 20px 0;

}


header h1{
    font-size: 3em;
    text-transform: uppercase;
    display: inline-block;
    color: white;
}

div.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


div.row{
    text-align: center;
}
div.card{
    height: 280px;
    width: 220px;
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
    position: relative;
    /* text-align: center; */
    /* margin-left: calc(100% - ( 280 * 4 )); */
}

div.back_card{
    height: 100%;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain; 

    position: absolute;
    z-index: 1;
}

div.front_card{
    height: 100%;
    width: 100%;
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-color: white;
    background-size: contain; 
    background-repeat: no-repeat;

   
    /* text-align: center; */
}



div.front_card > span{
    position: absolute;
    bottom: 0;
}

div.row > div.card:last-child{
    margin-right: 25px;
}


div.card:hover .front_card{
    position: absolute;
    z-index: 2;
}

